$color-main: #ffffff;
$color-secu: #d7d7d7;
$color-primary:#0000ff;

main{
background-color: $color-main;
// width: 50%;
// margin: 0 auto;
}
.cabeza__principal{
  .nav__cabeza {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2.5rem;

    .ul__cabeza--2 {
      display: flex;
      text-align: center;
    }
    .ul__cabeza {
      display: flex;
      text-align: center;
      justify-content: flex-start;

    }
  
  }

}
.nav__principal{
	background-color: $color-main;
	position: sticky;
	text-align: center;
	top: 0;
	width: 100%;
  z-index: 2;
  &.sticky {
    position: fixed;
    top:-80px;
		transition: top 1s ease;
    width: 100%;
	}
  &.show {
    top: 0;
		transition: top 1s ease;



	}
	

    .lista__principal {
    display: flex;
    list-style: none;
    width: 20rem;
    padding: 2rem 1.2rem;
    .item__principal {
      margin-right: 2rem;
      
    }
  }
}

.article__ableton{
  .container__ableton {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 85%;
      height: 90vh;
      object-fit: cover;
    }
  }

}

//
.article__music {
  width: 100%;
  position: relative;
  .container__music{
    display: flex; 
    justify-content: center;
    background-color:#fbffa7;
    margin-left: 50%;
    .container__img{
      width: 60%;
      padding: 25% 10%;
    }
  }
  .descripcion__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article__img {
    position: absolute;
    left: 15%;
    padding-top: 8%;
    width: 40%;
    margin: 0%;
}
}
//
.article__more{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    .container__video{
      width: 80%;
      p{
        margin-left: 1rem;
      }
    }
}
//
.article__believe{
    align-items: center;
      .container__believe{   
    position: relative;
    background-color:#b6ffc0;
    width: 60%;

  }
  img{
    width: 50%;
    margin: 10% 1% 5% 10%;
  }
  .img__believe{
    position: absolute;
    left: 73%;
    top: 20%;
    width: 60%;
    margin: 0%;
  }
}
//
.article__passionate{
  img{
    width: 80%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
//
.article__employees{
  display: flex;
  flex-direction: column;
  align-items: center;
  .container__employees{
    display: flex;
    align-items: center;
    background-color: #d5b3ff;
    height: 50vh;
    width: 50%;
    .img__small{
      width: 50%;
      position: relative;
      right: 10%;
    }
    .img__big{
      width: 65%;
      position: relative;
      left:33%;
    }
  }
}
//
.article__jobs{
  display: flex;
  margin: 5rem 6rem;
  .img__jobs{
    width: 50%;
  }
  .container__jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b1c5ff;
    width: 100%;
  }
}
footer{
  h2{
    padding:5rem 4rem 2rem 8rem;
    font-size: 3rem;
    font-weight: 500;

  }
.grid{
  display: grid;
  grid-template-columns: 30% 30% 40% ;
  grid-template-rows: auto 10px;
  margin: 4rem 5rem 2rem 8rem;
  line-height: 2;
}
.footer__end{
  margin: 5rem 5rem;
  ul{
    display: grid;
    align-items: center;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 40% ;
    font-size: 0.8rem;
   li{
    text-align: center;
   } 
  }
  .madein{
    display: grid;
    grid-template-columns: 40% 10% ;
    justify-content: flex-end;
    align-items: center;

    .p__madein{
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
    }
  }

}
}
//
@media screen  and (min-width:2560px) {
  .nav__principal{
    &.sticky {
      width: 50%;
    }
  }
  body{
    background-color: $color-secu;
  }
  main{
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
    }
    .sec-principal{
      background-color: $color-main;

    }
    footer{
      background-color: $color-main;

    }
}
//
@media screen and (max-width:1024px){
  .article__employees{
    .container__employees{
      height: 20vh;
  
    }
  }

  .p__main {
    margin: 3rem 10%;
  }
  
  .p__sub {
    margin: 2rem 10%;
  }
.cabeza__principal{

  .nav__menu{
      position: relative;
      display: flex;
      z-index: 4;


      &.show{
        .icono__menu{
          svg{
           fill: $color-main;
          }            
         }
         #menu{
          font-size: 1.2rem;
          color: $color-main;
         }
      }
    .ul__menu{
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 1rem 0 2rem 2rem;

    }
  }
  .nav__more{
    display:flex ;
    flex-direction: column;

.container__more{
  color: $color-main;



  .lista__more{
    display: flex;
    flex-direction: column;
    li{
      a{
  color: $color-main;

      }
    }
    
}
.lista__more_2{
  display: flex;
  flex-direction: row;
  overflow: auto;
  li{
    a{
color: $color-main;
       p{
        width: 20rem;
      }
    }
  }
}
}

  }
.nav__cabeza{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 100%;
  .ul__cabeza{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    .icono__cabeza{
      display: none;
    }
    #more{
      display: none;
    
    }
    .item__nav{
      margin: 2rem 0 0 0;
      font-size: 1rem;
      a{
  color: $color-main;

      }
    }
    .item__nav:nth-child(2){
      margin-top: 5rem;

    }
  }
  .ul__cabeza--2{
    display: flex;
    flex-direction: column;
    margin: 0 0.9rem;
    .item__nav{
      margin: 1rem 0 0 0;
      font-size: 1rem;

      a{
  color: $color-main;
        margin-top: 1rem;
      }
    }
  }
}
.container__menus{
  position: fixed;
  top:-2000px;
  transition: top 1s ease;
  background-color: $color-primary;
  z-index: 3;
  width: 100%;
  &.show{
    position: absolute;
    top: 0;
    transition: top 0.5s ease;
    background-color: $color-primary;
    
  }

}
}
//
.article__jobs{
  display: flex;
  flex-direction: column;
  .img__jobs{
    width: 100%;
  }
}
//

footer{
  .grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15rem ;
    margin: 2rem 5rem 0 3rem;
    line-height: 2;
    .item__grid:nth-child(1){
      order:2;
      margin-bottom: 1rem;

    } .item__grid:nth-child(2){
      order:3;
    }
    .item__grid:nth-child(3){
      order:1;
    }
  }
  .footer__end{
    margin: 1rem 3rem;

    ul{
      display: flex;
      flex-direction: column;
      align-items: self-start;
      justify-content: start;
      li{
        margin-top: 1rem;

      }
    }
    .madein{
      justify-content: stretch;
      margin-top: 2rem;
      .p__madein{
      justify-content: stretch;
      text-align: center;

        order: 1;
      }
      svg{
        order: 0;
      }
    }
  }
}
}
